<div class="todo-body" [class.show-actions]="showActions" [class.left-handed]="(ui$ | async).leftHanded">
  <i class="todo-action fa fa-2x fa-trash todo-delete" (click)="deleteTodo()"></i>
  <i class="todo-action fa fa-2x fa-edit todo-edit" (click)="startEditing()"></i>
  <span class="todo-description" [class.completed-todo]="todo.complete" (click)="toggleActions()">{{
    todo.description
  }}</span>
  <i
    class="todo-action fa fa-2x fa-check-square todo-complete"
    [class.completed-check]="todo.complete"
    (click)="toggleTodoCompletion()"
  ></i>
</div>

<ngx-smart-modal identifier="edit_{{ todo.id }}" customClass="modal-customized">
  <input class="updated-description" [(ngModel)]="newDescription" #input (keydown)="onKeydown($event)" />
  <button class="action update-todo" (click)="commitChange()">
    <i class="fa fa-2x fa-save"></i> <span>Update</span>
  </button>
</ngx-smart-modal>
