<i class="fa fa-sliders-h settings" (click)="openSettings()"></i>

<ngx-smart-modal [identifier]="SETTINGS_MODAL_NAME" customClass="modal-customized">
  <div class="modal-settings">
    <label class="switch">
      <input type="checkbox" [checked]="(ui$ | async).showCompleted" (change)="updateShowCompleted($event)" />
      <span class="slider round"></span>
    </label>
    <label>Show Completed</label>

    <label class="switch">
      <input type="checkbox" [checked]="(ui$ | async).leftHanded" (change)="updateLeftHanded($event)" />
      <span class="slider round"></span>
    </label>
    <label>Left Handed</label>
  </div>
</ngx-smart-modal>
