// palette from https://www.color-hex.com/color-palette/358 and https://www.color-hex.com/color-palette/70370

$dark: #2a4d69;
$light: #e7eff6;
$accent1: #adcbe3;
$accent2: #4b86b4;

$stop: #f3706b;
$caution: #edbf5c;
$go: #7aca5e;

$header-height: 64px;
$menu-height: 50px;

$left-width: 50px;
$right-width: 50px;

$todo-height: 60px;

$break-point: 1024px;
