// palette from https://www.color-hex.com/color-palette/358

$dark: #2a4d69;
$light: #e7eff6;
$accent1: #adcbe3;
$accent2: #4b86b4;

$header-height: 50px;
$menu-height: 50px;

$left-width: 50px;
$right-width: 50px;

$break-point: 1024px;
